@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


a.active hr {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



::-webkit-scrollbar {
  display: none;
}
